.refresh-btn-style {
    position: absolute;
    top: -5%;
    left: 30%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 5px;
    background: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}
.joke {
    padding: 0rem 2rem;
    width: 40%;
    position: absolute;
    font-size: 0.9rem;
    left: 0;
    font-weight: lighter;
    color: #333;
    font-family: "Fira Code", monospace;
    .joke-title {
        font-size: 1.2;
        font-weight: 600;
        margin-bottom: 2%;
        display: inline-block;
    }
    .joke-title-dark {
        color: rgb(223, 222, 222);
        font-size: 1.2;
        font-weight: 600;
        margin-bottom: 2%;
        display: inline-block;
    }
    .refresh-btn {
        @extend .refresh-btn-style;
        box-shadow: -1px -1px 3px #cac9c9, 1px 1px 3px #cac9c9;
        .refresh-btn-img {
            position: absolute;
            width: 1.1rem;
        }
        &:focus {
            border: 0.1px solid #b6b6b6;
        }
    }

    .refresh-btn-dark {
        @extend .refresh-btn-style;
        box-shadow: -1px -1px 3px #484a53, 1px 1px 3px #484a53;
        .refresh-btn-img {
            position: absolute;
            width: 1.1rem;
        }
        &:focus {
            border: 0.1px solid #b6b6b6;
        }
    }
}
@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .joke {
        width: 50%;
        .refresh-btn {
            top: -3%;
            left: 30%;
        }
    }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
    .joke {
        width: 50%;
        .refresh-btn {
            top: -3%;
            left: 40%;
        }
    }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
    .joke {
        width: 50%;
        .refresh-btn {
            top: -3%;
            left: 35%;
        }
    }
}
@media screen and (max-width: 900px) and (min-width: 801px) {
    .joke {
        width: 50%;
        .refresh-btn {
            top: -3%;
            left: 40%;
        }
    }
}

@media screen and (max-width: 800px) {
    .joke {
        width: 100%;
        position: absolute;
        padding-bottom: 10%;
        margin-top: 1rem;
        text-overflow: ellipsis;
        .refresh-btn {
            padding: 0.14rem;
            top: -3%;
            left: 20%;
            .refresh-btn-img {
                position: absolute;
                width: 1.1rem;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 25%;
        }
    }
}

@media screen and (max-width: 600px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 30%;
        }
    }
}

@media screen and (max-width: 500px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 35%;
        }
    }
}
@media screen and (max-width: 400px) {
    .joke {
        .refresh-btn {
            top: -2%;
            left: 45%;
        }
    }
}
