.joke {
    padding: 0rem 2rem;
    width: 40%;
    position: absolute;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #333;
    font-family: "Fira Code", monospace;
    .joke-title {
        font-size: 1.2;
        font-weight: 600;
        margin-bottom: 2%;
        display: inline-block;
    }
    .joke-title-dark {
        color: rgb(223, 222, 222);
        font-size: 1.2;
        font-weight: 600;
        margin-bottom: 2%;
        display: inline-block;
    }
    .refresh-btn {
        position: absolute;
        top: -5%;
        left: 35%;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.2rem;
        border-radius: 5px;
        background: inherit;
        color: inherit;
        box-shadow: -1px -1px 3px #cac9c9, 1px 1px 3px #cac9c9;
        cursor: pointer;
        border: none;
        .refresh-btn-img {
            position: absolute;
            width: 1.1rem;
        }
        &:focus {
            border: 0.1px solid #b6b6b6;
        }
    }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
    .joke {
        .refresh-btn {
            top: -3%;
            left: 60%;
        }
    }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
    .joke {
        .refresh-btn {
            top: -3%;
            left: 55%;
        }
    }
}
@media screen and (max-width: 900px) and (min-width: 801px) {
    .joke {
        .refresh-btn {
            top: -3%;
            left: 55%;
        }
    }
}

@media screen and (max-width: 800px) {
    .joke {
        width: 80%;
        position: absolute;
        padding-bottom: 10%;
        text-overflow: ellipsis;
        .refresh-btn {
            top: -3%;
            left: 35%;
            .refresh-btn-img {
                position: absolute;
                width: 1.1rem;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 28%;
        }
    }
}

@media screen and (max-width: 600px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 40%;
        }
    }
}

@media screen and (max-width: 600px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 50%;
        }
    }
}
@media screen and (max-width: 400px) {
    .joke {
        .refresh-btn {
            top: -1%;
            left: 75%;
        }
    }
}
