.navigation {
    width: 30%;
    padding: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    a {
        color: #555;
        text-decoration: none;
    }
    a:hover {
        color: #222;
    }
    .nav-mobile {
        display: none;
    }
    .nav-active {
        color: #222;
    }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .navigation {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: inline;
        .nav-mobile {
            display: block;
            .nav-img-close {
                position: absolute;
                background-color: #fff;
                left: 1.5em;
            }
            .nav-img {
                position: absolute;
                top: 1.4rem;
                left: 1.4em;
                background-color: #fff;
            }
        }
        .nav {
            display: none;
        }
    }
}
