.navigation {
    font-family: "Fira Code", monospace;
    .nav-container {
        width: 30%;
        padding: 1.5rem;
        font-weight: 700;
        display: flex;
        justify-content: space-evenly;
        .link-light {
            color: #555;
            text-decoration: none;
        }
        .link-light:hover {
            color: #222;
        }
        .link-dark {
            color: rgb(199, 199, 199);
            text-decoration: none;
        }
        .link-dark:hover {
            color: #fff;
        }
        .nav-active {
            color: #222;
        }
        .nav-active-dark {
            color: #fff;
        }
    }
    .nav-mobile {
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
    .nav-container {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .style-nav-mob {
        position: absolute;
        top: 2.8rem;
        left: 0rem;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 0rem 10% 5% 10%;
        z-index: 99;
    }
    .navigation {
        .nav-container {
            display: none;
            top: 0;
            left: 0;
        }
        .nav-mobile {
            display: block;
            .nav-img-close {
                padding-left: 3.2%;
                padding-top: 2.8%;
            }
            .nav-img {
                padding-left: 2.8%;
                padding-top: 2.2%;
            }
        }
        .nav {
            display: none;
        }
        .nav-links-mob {
            @extend .style-nav-mob;
            background-color: rgba($color: #000, $alpha: 0.9);
            .nav-block {
                color: #777;
                text-decoration: none;
                margin: 1rem 0rem;
            }
            .nav-active {
                color: #fff;
            }
        }
        .nav-links-mob-dark {
            @extend .style-nav-mob;
            background-color: rgba($color: #000, $alpha: 0.9);
        }
    }
}
