.social-icons {
    display: flex;
    justify-content: space-between;
    width: 40%;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        padding: 0.2rem;
        border-radius: 5px;
        background: inherit;
        color: inherit;
        box-shadow: -1px -1px 3px #dddddd, 1px 1px 3px #ffffff;
        cursor: pointer;
    }
}

@media screen and (max-width: 1400px) and (min-width: 801px) {
    .social-icons {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .social-icons {
        width: 70%;
    }
}
