.article-preview-container {
  width: 70%;
  text-align: left;
  font-family: "Lato", sans-serif;
  .articles {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    .article {
      width: 300px;
    }
  }
}
@include respond-to(small) {
  .articles {
    display: flex;
    justify-content: center;
  }
  .article {
    width: 100%;
  }
}
