.intro-container {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 15% 0% 5% 0%;
  font-weight: 300;
}

.intro-main {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: 700;
}

.intro-description {
  margin-top: 1rem;
  line-height: 35px;
}
.intro-social {
  padding-top: 46px;
}
@include respond-to(extraSmall) {
  .intro-container {
    width: 100%;
    max-width: 720px;
  }
}
@include respond-to(small) {
  .intro-container {
    width: 90%;
  }
}
@include respond-to(medium) {
  .intro-container {
    width: 80%;
    max-width: 900px;
  }
}
@include respond-to(large) {
  .intro-container {
    width: 90%;
  }
}
@include respond-to(xlarge) {
  .intro-container {
    width: 100%;
  }
}
@include respond-to(xxlarge) {
  .intro-container {
    max-width: 1000px;
  }
}
