.intro-container {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 20% 0% 5% 0%;
  max-width: 920px;
  font-weight: 300;
}

.intro-main {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: 700;
}
