@mixin nav-container {
  display: flex;
  gap: 7px;
  justify-content: right;
  color: white;
  flex-flow: row wrap;
}

.nav-container-light {
  @include nav-container;
  a {
    color: #333;
    text-decoration: none;
  }
  span {
    color: #333;
  }
}
.nav-container-dark {
  @include nav-container;
  a {
    color: #fff;
    text-decoration: none;
  }
  span {
    color: #fff;
  }
}

.nav-icon {
  font-family: "Abril Fatface", cursive;
}
