.blog-list-container {
    padding: 5% 8%;
    .blog-list-container-ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .blog-post-link {
            width: 25%;
            text-decoration: none;
        }
        .post-list-item {
            margin-bottom: var(--spacing-8);
            margin-top: var(--spacing-8);
        }

        .post-list-item p {
            margin-bottom: var(--spacing-0);
        }

        .post-list-item h2 {
            font-size: var(--fontSize-4);
            color: #333;
            margin-bottom: var(--spacing-2);
            margin-top: var(--spacing-0);
        }

        .post-list-item header {
            margin-bottom: var(--spacing-4);
        }
        .blog-list-item {
            border-radius: 5px;
            box-shadow: -1px -1px 3px #dddddd, 1px 1px 3px #ffffff;
            padding: 1rem 2rem;
            width: 90%;
            margin: 1rem;
        }
        .blog-color-dark-headline {
            color: rgb(223, 222, 222);
        }
        .blog-color-dark-text {
            color: rgb(199, 199, 199);
        }
        .blog-color-light-text {
            color: #444;
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 801px) {
    .blog-list-container {
        padding: 3%;
        .blog-list-container-ol {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .blog-post-link {
                width: 33%;
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .blog-list-container {
        .blog-list-container-ol {
            display: flex;
            justify-content: center;
            .blog-list-item {
                border-radius: 5px;
                box-shadow: -1px -1px 3px #dddddd, 1px 1px 3px #ffffff;
                padding: 1rem 2rem;
                width: 90%;
                margin: 1rem;
            }
            display: block;
            .blog-color-dark-headline {
                color: rgb(223, 222, 222);
            }
            .blog-color-dark-text {
                color: rgb(199, 199, 199);
            }
        }
    }
}
