.home-layout {
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    .h-grid {
        padding: 1rem 2rem 2rem 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .h-grid-item-img {
            text-align: right;
        }
    }
    .joke-container {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 801px) {
    .home-layout {
        .h-grid {
            grid-template-columns: 2fr 1fr;
        }
        width: 85%;
        .socialIcons {
            text-align: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .home-layout {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        width: 100%;
        .h-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .socialIcons {
            display: flex;
            justify-content: center;
        }
        .joke-container {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 3rem;
        }
    }
}
