.post-container {
    .post-dark {
        color: rgb(240, 240, 240);
        .post-heading-dark {
            color: rgb(240, 240, 240);
        }
        .post-heading {
            color: #333;
        }
        .post {
            color: #555;
        }
    }
}
