.blog-category-container {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.blogs-container{
  display: flex;
  justify-content: center;
}