.work-container {
  font-family: "Poppins", sans-serif;
  padding: 0;
  .project-container {
    padding: 0;
    width: 100%;
    text-align: start;
  }
  .technologies-container {
    width: 100%;
    text-align: start;
    .technologies-icons {
      padding: 1rem 0rem;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      .icon {
        padding: 5px;
        display: flex;
        border-radius: 50%;
        flex-wrap: wrap;
      }
    }
  }
}
@include respond-to(extraSmall) {
  .work-container {
    width: 90vw;
  }
}
@include respond-to(medium) {
  .work-container {
    width: 80vw;
  }
}
@include respond-to(large) {
  .work-container {
    width: 70vw;
  }
}
