.work-container {
  font-family: "Lato", sans-serif;
  width: 70vw;
  .project-container {
    width: 100%;
    text-align: start;
  }
  .technologies-container {
    width: 100%;
    text-align: start;
  }
}
